<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="hidden-s col-m-6 col-l-1">
        <div class="footer__content__logo">
        <li>LOGO<li>
        </div>
      </div>

      <div class="col-s-12 hidden-s col-m-5 col-l-3 col-l-offset-1">
        <div class="footer__content__column__container">  
          <div class="footer__content__column">
              <li><a class="footer__content__list" href="#">Home</a></li>
              <li><a class="footer__content__list" href="#">Discovery</a></li>
              <li><a class="footer__content__list" href="#">Photos</a></li>
              <li><a class="footer__content__list" href="#">Contact</a></li>
          </div>
          <div class="footer__content__column footer__content__column__middle">
            <li><a class="footer__content__list" href="#">About</a></li>
            <li><a class="footer__content__list" href="#">Help</a></li>
            <li><a class="footer__content__list" href="#">Terms</a></li>
            <li><a class="footer__content__list" href="#">Guidelines</a></li>
          </div>
          <div class="footer__content__column">
              <li><a class="footer__content__list" href="#">Testimonials</a></li>
              <li><a class="footer__content__list" href="#">Advertise</a></li>
              <li><a class="footer__content__list" href="#">Integrations</a></li>
              <li><a class="footer__content__list" href="#">Careers</a></li>
          </div>
        </div>   
      </div> 

      <div class="col-s-6 visible-s">
      <div class="footer__small__screen">
        <div class="footer__small__screen__column">
          <li><a class="footer__small__screen__column__list" href="#">About</a></li>
          <li><a class="footer__small__screen__column__list" href="#">Help</a></li>
          <li><a class="footer__small__screen__column__list" href="#">Terms</a></li>
          <li><a class="footer__small__screen__column__list" href="#">Guidelines</a></li>
        </div>
      </div>
      </div>
      <div class="col-s-6 visible-s">
        <div class="footer__small__screen__column">
            <li><a class="footer__small__screen__column__list" href="#">Testimonials</a></li>
            <li><a class="footer__small__screen__column__list" href="#">Advertise</a></li>
            <li><a class="footer__small__screen__column__list" href="#">Integrations</a></li>
            <li><a class="footer__small__screen__column__list" href="#">Careers</a></li>
        </div>
      </div>
      

    <div class="hidden-s col-m-5 col-l-3 col-l-offset-1 ">
      <div class="footer__email">
        <div class="footer__email__container" id="emailContainer">
          <input class="footer__email__textBox" id="textInput" type="text" placeholder="Email">
          <button class="footer__email__button"><span class="icon send"></span></button>
        </div>
        <p class="footer__email__paragraph">@@emailText</p>
      </div>
    </div>

    <div class="col-s-4 col-m-6 col-l-2 col-l-offset-1 ">
      <div class="footer__icons">
        <a class="footer__icons__link" href="#"> <span class="icon instagram"></span></a>
        <a class="footer__icons__link" href="#"> <span class="icon facebook"></span></a> 
        <a class="footer__icons__link" href="#"> <span class="icon twitter"></span></a>
        <a class="footer__icons__link" href="#"> <span class="icon web"></span></a>
      </div>
    </div>

    </div>  
  </div>
</footer>