<header class="header">
  <div class="header--left">
    <span class="logo">Logo</span>
  </div>
  <div class="header--right">
    <div class="main-navigation">
      <div class="dropdown">
        <a class="main-navigation__link@@home" href="#">Home</a>
        <div class="dropdown__content">
            <a class="dropdown__content__link" href="#">World news</a>
            <a class="dropdown__content__link" href="#">Travel</a>
            <a class="dropdown__content__link" href="#">Technology</a>
            <a class="dropdown__content__link" href="#">City</a>
            <a class="dropdown__content__link" href="#">Culture</a>
            <a class="dropdown__content__link" href="#">More...</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="main-navigation__link@@discovery" href="#">Discovery</a>
        <div class="dropdown__content">
            <a class="dropdown__content__link" href="#">Link 1</a>
            <a class="dropdown__content__link" href="#">Link 2</a>
            <a class="dropdown__content__link" href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="main-navigation__link@@photos" href="#">Photos</a>
        <div class="dropdown__content">
            <a class="dropdown__content__link" href="#">Link 1</a>
            <a class="dropdown__content__link" href="#">Link 2</a>
            <a class="dropdown__content__link" href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="main-navigation__link@@contact" href="#">Contact</a>
        <div class="dropdown__content">
            <a class="dropdown__content__link" href="#">Link 1</a>
            <a class="dropdown__content__link" href="#">Link 2</a>
            <a class="dropdown__content__link" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="profile-pic-wrapper">
      <img class="profile-pic" src=@@webRoot/assets/image-1.jpg alt="profile pic">
    </div>
  </div>
  </div>
</header>


<header class="sheader visible-s">
  <div class="sheader__flexer">
    <div class="sheader__menu" id="menu">
      <span class="icon menu"></span>
    </div>
    <span class="sheader__logo">Logo</span>
    <div class="sheader__profile-pic-wrapper">
      <img class="profile-pic" src=@@webRoot/assets/image-1.jpg alt="profile pic">
    </div>
  </div>
</header> 
