<div class="mobileNavigation">
  <aside class="navMenu" id="navigation">
    <div class="navMenu__logo--wrapper">
      <span class="navMenu__logo" id="logoButton">Logo</span>
    </div>
    <div class="navMenu__Container">
      <span class="icon home navMenu__icons"></span>
      <a class="navMenu__links" href="">home</a>
    </div>

    <div class="navMenu__Container">
      <span class="icon discover"></span>
      <a class="navMenu__links" href="">discovery</a>
    </div>

    <div class="navMenu__Container">
      <span class="icon photos"></span>
      <a class="navMenu__links" href="">photos</a>
    </div>

    <div class="navMenu__Container">
      <span class="icon mail"></span>
      <a class="navMenu__links" href="">contact</a>
    </div>

    <div class="navMenu__Container">
      <div class="navMenu__profile-pic-wrapper">
        <img class="profile-pic" src=@@webRoot/assets/image-1.jpg alt="profile pic">
      </div>
      <a class="navMenu__links" href="">profile</a>
    </div>
  </aside>
  <div class="invisibleElement" id="focusOut"></div>
</div>