// Shades of black and white
$white: #fff;
$black: #000;

$lighter-black: #111;

// Project colors
$color-box-shadow: rgba($color: #343638, $alpha: 0.2);
$color-email-border: rgba($color: #cbd0d3, $alpha: 0.2);
$color-footer-gray-font: #cbd0d3;
$color-footer-gray: #a6adb4;
$color-gray: #e2e2e2;
$color-grey-card: #a6adb4;
$color-light-gray: #f6f8f9;
$color-logo-gray: #a6adb4;
$color-pink-headline: #fa6980;
$color-primary: #fa6980;
$color-secondary: #343638;
$color-light-gray2: #f1f1f1;
$color-text-gray: #a6adb4;
$color-text-black: #202124;
$color-bg: #f6f8f9;
$color-shadow: rgba($lighter-black, 0.1);

$color-pink-button: #fa6980;
$color-footer-gray: #a6adb4;
$color-footer-gray-font: #cbd0d3;
$color-email-border: rgba($color: #cbd0d3, $alpha: 0.2);

