$breakpoint-small-mobile: 540px;
$breakpoint-bigger-mobile: 572px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1160px;

$mobile-padding: 24px;
$tablet-padding: 0;
$desktop-padding: 0;

$tablet-container-width: 760px;
$desktop-container-width: 1160px;

$mobile-gutter-width: 24px;
$tablet-gutter-width: 40px;
$desktop-gutter-width: 40px;

$default-font-size: 16px;