.largeCard {
  background-color: $white;
  background-image: url('https://source.unsplash.com/760x550/?forest');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  height: 300px;
  margin-bottom: 40px;
  padding: 40px;
  width: 100%;

  @include transition(0.5s);
  @include respond-to($breakpoint-tablet) {
    height: 430px;
  }

  &__category {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  &__header {
    color: $color-text-black;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  

  &:hover {
    opacity: 0.8;
    transform: translate(0px, -3px);
  }


  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

    &__header {
      color: $white;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }


    &__paragraph {
      color: $white;
      font-size: 16px;
      margin: 10px 0px;
    }

    &__iconFlex {
      align-items: center;
      display: flex;
    }

    &__time {
      color: $white;
      font-size: 13px;
      font-style: italic;
      margin-left: 10px;
      margin-top: 0px;
    }

    &__icon {
      padding-bottom: 10px;
    }
  }
}