.smallCard {
  @include transition(0.5s);
  border-radius: 2%;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 40px;
  overflow: hidden;

  &:hover {
    transform: translate(0px, -3px);
    opacity: 0.7;
  }

  &__image-wrapper {
    height: 180px;
    position: relative;
    width: 100%;

    @include respond-to($breakpoint-desktop) {
      height: 210px;
    }

    img {
      border-radius: 2%;
      height: 100%;
      object-fit: cover;
      position: relative;
      width: 100%;
    }
  }

  &__text {

    &__header {
      color: $color-text-black;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 18px;
    }

    &__icon {
      margin-top: 10px;
    }

    &__iconFlex {
      align-items: center;
      display: flex;
    }

    &__time {
      align-self: center;
      color: $color-text-gray;
      font-size: 13px;
      font-style: italic;
      margin-bottom: 0px;
      margin-left: 10px;
      margin-top: 10px;
    }

    &__author {
      text-decoration: underline;
    }
  }
}