
  <div class="col-l-8 col-m-12 col-s-12">
    <div class="largeCard">

        <h1 class="largeCard__category">@@cardCategory</h1>

        <div class="largeCard__text">
          <h1 class="largeCard__text__header">@@cardTitle</h1>
          <p class="largeCard__text__paragraph">@@cardParagraph</p>
          <div class="largeCard__text__iconFlex">
            <span class="icon time largeCard__text__icon"></span>
            <p class="largeCard__text__time">@@timecard</p>
          </div>
        </div>

    </div>
  </div>
