<div class="col-l-4 col-m-6 col-s-12">
  <div class="smallCard">
    <div class="smallCard__image-wrapper">
      <img src="https://source.unsplash.com/360x210/?animals,cute" alt="" />
    </div>
    <div class="smallCard__text-wrapper">
      <h1 class="smallCard__text__header">@@cardTitle</h1>
      <div class="smallCard__text__iconFlex">
        <span class="icon time smallCard__text__icon"></span>
        <p class="smallCard__text__time">@@timecard <i class="smallCard__text__author"> @@timecardAuthor</i></p>
      </div>
    </div>
  </div>
</div>