<div class="col-l-4 col-m-6 col-s-12">
  <div class="trending-card">
    <div class="trending-card__image-wrapper">
      <img src="https://source.unsplash.com/360x180/?nature,sky" alt="" />
    </div>
    <div class="trending-card__text-wrapper">
      <h1 class="trending-card__text-wrapper__header">@@cardTitle</h1>
      <p class="trending-card__text-wrapper__paragraph">@@cardParagraph</p>
      <div class="trending-card__text-wrapper__iconFlex">
        <span class="icon time"></span>
        <p class="trending-card__text-wrapper__time">@@timecard</p>
      </div>
    </div>
  </div>
</div>
