<div class="col-s-12 col-m-12 col-l-4 col-l-offset-2">
  <div class="container-inner">
    <div class="discovery-wrapper">
      <div class="row">

  @@include('../components/landing-panel.html')

  @@loop('../components/cards/discoveries-card.html', [
  {"Category": "Technology", 
  "Headline": "Lorem Ipsum Smipsum",
  "Summary": " Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, rem?",
  "Time": " 2 min ago " }, 

  {"Category": "Traveling", 
  "Headline": "Unc eine Schwaine",
  "Summary": " Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, rem?",
  "Time": " 2 min ago"}
  ])

      </div>
    </div>
  </div>
</div>