<div class="wrapper">
  <div class="container">
    <div class="col-l-6 col-m-12 col-s-12">
      <div class="landingImage__container">

        <div class="landingImage__upperHeader">
          <h1 class="landingImage__upperHeader__text">@@topHeader</h1>
        </div>

        <div class="landingImage__lowerHeader">
          <h1 class="landingImage__lowerHeader__text">@@belowHeader</h1>
          <p class="landingImage__paragraph__text">@@belowText</p>
        </div>

        <a class="landingImage__link" href="#">
          <div class="landingImage__button">learn more</div></a>

      </div>
    </div>
  </div>
  <div class="landingImage"></div>
</div>