.footer {
  background-color: $color-footer-gray;
  box-sizing: border-box;
  color: $color-footer-gray-font;
  padding: 60px 0px;
  width: 100%;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__small__screen {
    display: flex;
    justify-content: space-between;

    &__column {
      list-style: none;

      &__list {
        color: $color-footer-gray-font;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: bold;
        line-height: 3;
        list-style-type: none;
        margin-top: 0;
        padding: 0;
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        vertical-align: top;

        &:hover {
          color: $white;
        }
      }
    }
  }

  &__content {
    &__logo {
      color: $white;
      display: block;
      font-size: 13px;
      font-weight: bold;
      line-height: 2;
      list-style-type: none;
      text-align: left;
      text-decoration: none;
    }

    &__column {
      box-sizing: border-box;

      &__middle {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    &__column li {
      list-style-type: none;
    }

    &__column__container {
      display: flex;
      justify-content: space-between;
    }

    @include respond-to($breakpoint-tablet) {
      align-self: flex-start;
      display: flex;
      justify-content: space-between;
    }

    &__list {
      color: $color-footer-gray-font;
      font-family: Helvetica;
      font-size: 13px;
      font-weight: bold;
      line-height: 2;
      list-style-type: none;
      margin-top: 0;
      padding: 0;
      text-decoration: none;
      transition: color 0.1s ease-in-out;
      vertical-align: top;

      &:hover {
        color: $white;
      }
    }
  }

  &__email {
    
    &__textBox {
      background-color: $color-footer-gray;
      border: none;
      border-radius: 6px;
      box-sizing: border-box;
      color: $white;
      font-weight: bold;
      height: 30px;
      margin-left: 5px;
      padding-left: 15px;
      position: relative;
      width: 82%;

      &::placeholder {
        color: $color-email-border;
      }

      &:focus {
        outline: none;
      }
    }
    @include respond-to($breakpoint-tablet) {
      box-sizing: border-box;
      margin-top: 20px;
      position: relative;
    }

    @include respond-to($breakpoint-desktop) {
      box-sizing: border-box;
      margin-top: 0px;
    }

    &__paragraph {
      font-size: 11px;
      padding: 0px;
    }

    &__container {
      align-items: center;
      background-color: $color-footer-gray;
      border: 2px solid $color-email-border;
      border-radius: 6px;
      box-sizing: border-box;
      color: $white;
      display: flex;
      font-weight: bold;
      height: 40px;
      transition: border 0.3s ease-in-out;

      &:hover {
        border: 2px solid $color-footer-gray-font;
      }

      &.-active {
        border: 2px solid $color-footer-gray-font;
      }
    }

    &__button {
      background-color: $color-footer-gray;
      border: none;
      cursor: pointer;
      left: 85%;
      position: absolute;

      &:focus {
        outline: none;
      }
    }
  }

  &__icons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &__link {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      margin-top: 60px;
    }

    @include respond-to($breakpoint-tablet) {
      display: flex;
      flex-basis: 100%;
      height: 100%;
      justify-content: flex-end;
      margin: 0;

      &__link {
        align-self: flex-end;
        margin-left: 24px;
        margin-top: 0;
      }
    }

    @include respond-to($breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      margin: 0;

      &__link {
        align-self: flex-start;
        margin: 0;
      }
    }
  }
}
