.imageBackground {
  background: url('https://source.unsplash.com/random/840x600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 400px;
  position: absolute;
  top: 50px;
  width: 100vw;
  z-index: -1;

  @include respond-to($breakpoint-desktop) {
    height: 600px;
    width: 60vw;
  }
}

.whiteBackground {
  background-color: $white;
  height: 560px;
  position: absolute;
  top: 450px;
  width: 100vw;
  z-index: -2;

  @include respond-to($breakpoint-small-mobile) {
    height: 530px;
  }

  @include respond-to($breakpoint-bigger-mobile) {
    height: 520px;
  }

  @include respond-to($breakpoint-tablet) {
    height: 400px;
  } 

  @include respond-to($breakpoint-desktop) {
    height: 600px;
    top: 50px;
  }
}