.section-head {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;

  &__title {
    color: $black;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  &__arrows-box {
    align-content: center;
    display: flex;
    justify-content: space-between;
    width: 50px;
  }

  &__arrows {
    align-self: center;
    display: inline-block;
    opacity: 0.4;
    @include transition;

    &.-left {
      transform: rotateZ(180deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}