<!DOCTYPE html>
<html>
@@include('../components/head.html', {
"title": "Home"
})

<body class="home">
  @@include('../components/header.html',{
    "home": "--active",
    "discovery": "",
    "photos": "",
    "contact": ""
  })
  @@include('../components/mobileNavigation.html')


  @@include('../components/landing-background.html')

  <div class="container">
    <div class="row">

      @@include('../components/cards/landing-image.html', {
        "topHeader": "world news",
        "belowHeader": "Amazing places in America to visit",
        "belowText": "For some reason — this country, this city, this neighborhood, this particular street —  is the place you are living a majority of your life in." 
      })

      @@include('../blocks/block-discovery.html')

      <div class="container">
        @@include('../blocks/block-trending.html')

        @@include('../blocks/block-happening.html')

      </div>
    </div>
  </div>

@@include('../components/footer.html',{
  "emailText": "Stay in touch with us for the freshest products!"
})

</body>
</html>