<!DOCTYPE html>
<html>
@@include('../components/head.html', {
"title": "Home"
})

<body class="home">
  @@include('../components/header.html',{
    "home": "--active",
    "discovery": "",
    "photos": "",
    "contact": ""
  })
  @@include('../components/mobileNavigation.html')

<div class="container">
<div class="row">

  @@include('../components/Banners/landing-main.html', {
    "topHeader": "world news",
    "belowHeader": "Amazing places in America to visit",
    "belowText": "For some reason — this country, this city, this neighborhood, this particular street —  is the place you are living a majority of your life in." 
    })

  @@include('../components/landing-panel.html')


  @@loop('../components/discoveries-card.html', [
    {"Category": "Technology", 
    "Headline": "Lorem Ipsum Smipsum",
    "Summary": " Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, rem?",
    "Time": " 2 min ago " }, 

    {"Category": "Traveling", 
    "Headline": "Unc eine Schwaine",
    "Summary": " Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, rem?",
    "Time": " 2 min ago"}
    ])
</div>
</div>



  @@include('../components/blocks/block-trending.html')


  @@include('../components/blocks/block-happening.html')


  <br>

  <br> 

    @@include('../components/footer.html',{
      "emailText": "Stay in touch with us for the freshest products!"
    })



</body>
</html>